@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.w-96 img{
    animation: opacity 3s 2;
}
.show {
   display: flex;
}
